* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto condensed', sans-serif;
}

.nav-container {
    width: 100%;
    background-color: #9fc5f8;
}


.nav {
    margin: 0 auto;
    height: 80px;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
}

.nav-title {
    font-size: 45px;
}

.nav-links {
    height: 50px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

.sub-title {
    border-bottom: 2px solid black;
    width: 65%;
    height: 65px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.main-body-container {
    margin: 0 auto;
    width: 65%;
    display: flex;
    justify-content: space-around;

}

.forecast {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #eeeeee;
    width: 200px;
    height: 350px;
}

.forecast p {
    font-weight: bolder;
}

.weather-img {
    border-radius: 50%;
    height: 150px;
}

.temp-reading {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.temp-reading span {
    font-size: 20px;
    font-weight: bolder;
}

.color-left::after, .color-right::after{
    content: "°";
}

.color-left{
    color: #cf2a27;
}

.color-right {
    color: #2b78e4;
}

.bottom-content {
    margin: 0 auto;
    border: 2px solid black;
    width: 65%;
    height: 110px;
}

.cookie-msg{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
/* create a shadow blur y-1 x 0 */